fastapi
uvicorn
email-validator
python-dotenv
motor
passlib[bcrypt]
bcrypt>=4.0.0
python-jose[cryptography]
httpx

# YOLOv8 model + video processing
ultralytics>=8.0.0
opencv-python>=4.8.0
numpy>=1.24.0
torch>=2.0.0
torchvision>=0.15.0
pillow>=10.0.0
python-multipart>=0.0.9
